@{
    ViewData["Title"] = "Home Page";
    var information = @TempData["Information"].ToString();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="Scraper" asp-action="ProductScraper"
          method="post" class="form-horizontal" role="form">
        <h3 class="display-4">Please Enter the product URL</h3>
        <input name="url" />
        <button>Submit</button>
    </form>
    @if (information != null)
    {
        @if (information.Contains("The Product is added please"))
        {

            <h3 class="warning mt-1"> @TempData["Information"] <a href="https://docs.google.com/spreadsheets/d/1JsRD6MQXwMyliPyZkplJ-T4t8Lur1QZEWEpnqFxL9ho/edit?usp=sharing">here</a>  </h3>
        }
        else
        {

            <h3 class="danger mt-1">@TempData["Information"]</h3>
        }
    }

</div>
